body{
			background-color: #5a2b73; 
			color:white;
		}
		#cuadro{
			margin-top:10px;
		}
		#letras{
			margin-top:100px;
		}
		#pie{
		 	margin:60px;
		}
		#tiempo{
			font-size: 40px;
		}
		#cielo{
			font-size: 60px;
		}
		#grados{
			font-size: 120px;
		}
	