.img-responsive{
	margin: 0 auto;
}
body{
	background-color: #13abdc;
	color:white;
}
#fondo{
	background-color: #5a2b73;
}
#datos{
	margin-top:100px;
}
#bordes{
	border-right:solid 1px white;
}
footer{
	background-color: #13abdc;
	bottom: 0%;
    position: fixed;
    width: 100%;
}
#dos{
	background-color: #5a2b73;
}
#txt_ciudad{
	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top:45%;
	left:35%;
	/*determinamos una anchura*/
	width:250px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left:-200px;
	/*determinamos una altura*/
	height:300px;
	/*indicamos que el margen superior, es la mitad de la altura*/
	margin-top:-150px;
	padding:5px;
}
.form-control:focus {
    border-color:inherit !important;
    outline: 0;
    -webkit-box-shadow:inherit !important;
    box-shadow:inherit !important;
}

#text_nombre{
	background: none;
	color:white;
	width: 350px;
    height: 60px;
    border-top: none;
    border-left: none;
    border-right: none; 
    font-size: 30px;
}
#tiempo{
	font-size: 40px;
}
#cielo{
	font-size: 60px;
}
#grados{
	font-size: 120px;
}